*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: inline-block;
    margin-top: 10px;
    margin-right: 150px;
    margin-left: 150px;
    width: 75%;
    height: 80px;
    background-color: violet;
}

main div:first-child{
    display: inline-block;
    margin-top: 10px;
    margin-right: 150px;
    margin-left: 150px;
    width: 75%;
    height: 350px;
    background-color: #E0C647;
}


body main div:last-child{ 
    display: inline-block;
    margin-top: 10px;
    margin-right: 150px;
    margin-left: 150px;
    width: 75%;
    height: 450px;
    background-color: lightseagreen;
}

#left{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 10px solid blue;
    border-right: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 20%;
    height: 95%;
    float: left;
}

#center{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 60%; 
    height: 95%;
    float: left;
}

#right{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 10px solid blue;
    border-left: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 20%;
    height: 95%;
    float: left;
}

footer{
    display: inline-block;
    margin: 7px 150px;
    width: 75%;
    height: 55px;
    background-color: purple;
}

/*Debug

.debug header{
    display: inline-block;
    margin-top: 15px;
    margin-right: 150px;
    margin-left: 150px;
    width: 75%;
    height: 80px;
    border: 1px solid violet;
}

.debug div:first-child{
    display: inline-block;
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 150px;
    width: 75%;
    height: 350px;
    border: 1px dashed yellow;
}

.debug div:last-child{ 
    display: inline-block;
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 150px;
    width: 75%;
    height: 450px;
    border: 1px dotted lightseagreen;
}

#left{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 10px solid blue;
    border-right: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 20%;
    height: 95%;
    float: left;
}

#center{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 60%; 
    height: 95%;
    float: left;
}

#right{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 10px solid blue;
    border-left: 10px solid blue;
    border-bottom: 10px solid blue;
    width: 20%;
    height: 95%;
    float: left;
}

.debug footer{
    display: inline-block;
    margin: 25px 150px;
    width: 75%;
    height: 75px;
    border: 1px double purple;
}
*/